<section class="shop-hero shopify-section section">
  <div class="shop-title-wrapper">
    <img src="{{ 'shop-hero.svg' | asset_url }}" alt="shop online" class="hero-title" width="auto" height="auto" />
  </div>
</section>

{% schema %}
{
  "name": "Shop Hero",
  "settings": [],
  "presets": [
    {
      "name": "Shop Hero",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
