.birthday-gate {
  background: no-repeat center center;
  background-color: var(--red);
  background-size: cover;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
}

.birthday-gate__form {
  background-color: var(--cream);
  width: 270px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 24px 16px;
}
    
.birthday-gate img {
  margin: 0 auto 30px;
  width: 200px;
}

.birthday-gate p {
  font-size: 7px;
  font-family: "Helvetica", sans-serif;
  line-height: 1;
  letter-spacing: 0px;
}

.birthday-gate legend {
  font-family: var(--font-sansserif-wide);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

#age-gate-error p {
  font-size: 10px;
  text-align: center;
  margin-bottom: 0;
}

.birthday-gate form fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
}
        
.birthday-gate form input::-webkit-outer-spin-button,
.birthday-gate form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
        
/* Firefox */
.birthday-gate form input[type=number] {
  -moz-appearance: textfield;
}

.birthday-gate form input {
  font-family: var(--font-sansserif);
  color: #fff;
  flex: 1;
  text-align: center;
  background: var(--red);
  border: 1px solid #000;
  appearance: none;
  padding: 10px 10px 16px;
  font-size: 16px;
  height: 44px;
}

.birthday-gate form input:nth-child(2) {
  border-left: 0px;
  border-right: 0px;
}

.birthday-gate form input::placeholder {
  color: #fff;
  font-family: var(--font-sansserif);
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.birthday-gate form button {
  background: var(--red);
  color: #fff;
  margin: 30px auto 10px;
  align-self: center;
  width: 154px;
  height: 42px;
  padding: 16px 24px 20px;
  display: flex;
  border: 0px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sansserif-wide );
  border-radius: 8px;
  text-transform: uppercase;
}